body{
    margin: 0;
    padding: 0;
    width: 100%;
}


nav{

    position: absolute;
    top: 15px;
    height: 125px;
    width: 100%;
    min-width: 1080px;
    background-color: black;
}
nav #main-menu-geral{
    max-width:1480;
    margin: 0 auto;
}

nav ul{
    display: flex;
    flex-direction: row; 
    margin: 0;
    
}
nav ul li{
    list-style: none; /*retira as bolinhas da listagem*/
    
    padding: 50px 35px; 
    
}
nav  ul li:hover{
    background: #575353;
}
nav ul li a{
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    
    padding: 53px 25px 53px 0px;

}
nav{
    height: 125px;
    max-width: 100%;
    min-width: 1080px;
    background-color: rgb(0, 0, 0);
}
nav #logo img{
    height: 75px;
    margin: 25px;
    float: left;
}

nav ul li a:hover{
    text-decoration: line-through;
    color:rgb(231, 169, 32);
    text-decoration: line-through; 
    transition: all 1s;
}
nav ul li span{
    font-size: 11px;
    color: #a09c9c;
    margin: 58px 3px 53px 25px;
    float:left;
}
nav #main-menu{
    float: right;
}
.montserrat, nav ul li a {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
header .slide{
    width: 100%;
    height: 600px;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}
header #slide-bar {
    margin-top: 320px;
    height: 280px;
    float: left;
    background-image: url(../img/yellow-bg.png);
    width: 625px;
padding: 0 0 0 60px;

}
header #txt_slide{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    margin-top: 50px;
    color: white;
    text-transform: uppercase;
}
header #titulo_slide{
    font-size: 50px;
    color: white;
    font-family: "Montserrat, sans-serif";
}
header #titulo_slide h4{
    margin: 30px 0;
}
header .seta{
    float: left;
}
header .direita{
    margin-left: 20px;
}
.separador{
    width: 100%;
    height: 300px;
    background-image: url(../divider-dark.png);
    background-repeat: repeat-x;
}
.container{
    width: 1200px;
}